<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div
      class="example-box"
      *ngFor="let item of todo"
      [cdkDragDisabled]="isItemInDone(item)" 
      [ngClass]="{ 'done-item': isItemInDone(item) }" 
      cdkDrag
    >
      {{item.title}}
      <img *cdkDragPreview [src]="item.poster" [alt]="item.title">
    </div>
  </div>
</div>
<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList, removeList]"
    class="example-list"
    (cdkDropListDropped)="drop($event); doneDrop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.title}}
      
      <img *cdkDragPreview [src]="item.poster" [alt]="item.title">
    </div> 
  </div>
</div>


<div class="example-container">
  <h2>Remove</h2>
  <div
    cdkDropList
    #removeList="cdkDropList"
    [cdkDropListData]="[]"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list remove-list"
    (cdkDropListDropped)="doneDrop($event)">
  </div>
</div>
